# SPDX-License-Identifier: GPL-2.0
if SIFLOWER

choice
	prompt "Siflower SoC selection"
	default SOC_SF16A18
	help
	  Select Siflower MIPS SoC type.

	config SOC_SF16A18
		bool "SF16A18"

	config SOC_SF19A28
		bool "SF19A28"

endchoice

if SOC_SF16A18

choice
	prompt "Siflower SoC_SF16A18 selection"
	default SF16A18_MPW0
	help
	  Select FULL_MASK SF16A18 SoC

	config SF16A18_FULL_MASK
		bool "SF16A18_FULL_MASK"

endchoice

if SF16A18_FULL_MASK

config DT_SF16A18_FULLMASK_P20
	bool "Built-in device tree for sf16a18 full mask p20 boards"
	default n
	select BUILTIN_DTB
	help
	  The corresponding DTS file is at
	  arch/mips/boot/dts/sf16a18_fullmask_p20.dts

config DT_SF16A18_FULLMASK_EVB_V5
	bool "Built-in device tree for sf16a18 full mask evb_v5 boards"
	default n
	select BUILTIN_DTB
	help
	  The corresponding DTS file is at
	  arch/mips/boot/dts/sf16a18_fullmask_p20.dts

config DT_SF16A18_FULLMASK_86V
	bool "Built-in device tree for sf16a18 86v boards"
	default n
	select BUILTIN_DTB
	help
	  The corresponding DTS file is at
	  arch/mips/boot/dts/sf16a18_fullmask_86v.dts

config DT_SF16A18_FULLMASK_AC20_SJBY
      bool "Built-in device tree for sf16a18 full mask ac20 boards"
      default n
      select BUILTIN_DTB
      help
      The corresponding DTS file is at
      arch/mips/boot/dts/sf16a18_fullmask_ac20_sjby.dts

config DT_SF16A18_FULLMASK_AC20
      bool "Built-in device tree for sf16a18 full mask ac20 boards"
      default n
      select BUILTIN_DTB
      help
      The corresponding DTS file is at
      arch/mips/boot/dts/sf16a18_fullmask_ac20.dts

config DT_SF16A18_FULLMASK_P10H
      bool "Built-in device tree for sf16a18 full mask p10h boards"
      default n
      select BUILTIN_DTB
      help
      The corresponding DTS file is at
      arch/mips/boot/dts/sf16a18_fullmask_p10h.dts


endif #SF16A18_FULL_MASK

endif #SOC_SF16A18

if SOC_SF19A28

choice
	prompt "Siflower SoC_SF19A28 selection"
	default SF19A28_FULLMASK
	help
	  Select FULL_MASK SF19A28 SoC

	config SF19A28_MPW1
		bool "SF19A28_MPW1"

	config SF19A28_FULLMASK
		bool "SF19A28_FULLMASK"

endchoice

if SF19A28_FULLMASK

config DT_SF19A28_FULLMASK_FPGA
	bool "Built-in device tree for sf19a28 fullmask fpga"
	default n
	select BUILTIN_DTB
	help
	  The corresponding DTS file is at
	  arch/mips/boot/dts/sf19a28_fullmask_fpga.dts

config DT_SF19A28_FULLMASK_EVB
	bool "Built-in device tree for sf19a28 fullmask evb"
	default n
	select BUILTIN_DTB
	help
	  The corresponding DTS file is at
	  arch/mips/boot/dts/sf19a28_fullmask_evb.dts

config DT_SF19A28_FULLMASK_NF
	bool "Built-in device tree for sf19a28 fullmask nf"
	default n
	select BUILTIN_DTB
	help
	  The corresponding DTS file is at
	  arch/mips/boot/dts/sf19a28_fullmask_nf.dts

config DT_SF19A28_FULLMASK_AC28
	bool "Built-in device tree for sf19a28 fullmask ac28"
	default n
	select BUILTIN_DTB
	help
	  The corresponding DTS file is at
	  arch/mips/boot/dts/sf19a28_fullmask_ac28.dts

config DT_SF19A28_FULLMASK_AC28NAND
	bool "Built-in device tree for sf19a28 fullmask ac28 nand"
	default n
	select BUILTIN_DTB
	help
	  The corresponding DTS file is at
	  arch/mips/boot/dts/sf19a28_fullmask_ac28nand.dts

config DT_SF19A28_FULLMASK_AC28CSD
	bool "Built-in device tree for sf19a28 fullmask ac28 csd"
	default n
	select BUILTIN_DTB
	help
	  The corresponding DTS file is at
	  arch/mips/boot/dts/sf19a28_fullmask_ac28csd.dts

config DT_SF19A28_FULLMASK_A28_HWA
	bool "Built-in device tree for sf19a28 fullmask a28 hwa board"
	default n
	select BUILTIN_DTB
	help
	  The corresponding DTS file is at
	  arch/mips/boot/dts/sf19a28_fullmask_a28-hwa.dts

config DT_SF19A28_FULLMASK_REP
	bool "Built-in device tree for sf19a28 fullmask repeater"
	default n
	select BUILTIN_DTB
	help
	  The corresponding DTS file is at
	  arch/mips/boot/dts/sf19a28_fullmask_rep.dts

config DT_SF19A28_FULLMASK_AC28S
	bool "Built-in device tree for sf19a28 fullmask ac28s"
	default n
	select BUILTIN_DTB
	help
	  The corresponding DTS file is at
	  arch/mips/boot/dts/sf19a28_fullmask_ac28s.dts

config DT_SF19A28_FULLMASK_WS_IN
	bool "Built-in device tree for sf19a28 fullmask ws in"
	default n
	select BUILTIN_DTB
	help
	  The corresponding DTS file is at
	  arch/mips/boot/dts/sf19a28_fullmask_ws_in.dts

config DT_SF19A28_FULLMASK_AC28S_CSD
	bool "Built-in device tree for sf19a28 fullmask ac28s csd"
	default n
	select BUILTIN_DTB
	help
	  The corresponding DTS file is at
	  arch/mips/boot/dts/sf19a28_fullmask_ac28s_csd.dts

endif #SF19A28_FULLMASK

if SF19A28_MPW1

config DT_SF19A28_MPW1_AC28
	bool "Built-in device tree for sf19a28 mpw1 ac28"
	default n
	select BUILTIN_DTB
	help
	  The corresponding DTS file is at
	  arch/mips/boot/dts/sf19a28_mpw1_ac28.dts

config DT_SF19A28_MPW1_HWA
	bool "Built-in device tree for sf19a28 mpw1 hwa"
	default n
	select BUILTIN_DTB
	help
	  Add an FDT blob for XLP EVP boards into the kernel.
	  arch/mips/boot/dts/sf19a28_mpw1_hwa.dts

config DT_SF19A28_MPW1_EVB
	bool "Built-in device tree for sf19a28 mpw1 evb"
	default n
	select BUILTIN_DTB
	help
	  The corresponding DTS file is at
	  arch/mips/boot/dts/sf19a28_mpw1_evb.dts

config DT_SF19A28_MPW1_AC22
	bool "Built-in device tree for sf19a28 mpw1 ac22"
	default n
	select BUILTIN_DTB
	help
	  The corresponding DTS file is at
	  arch/mips/boot/dts/sf19a28_mpw1_ac22.dts
endif #SF19A28_MPW1


endif #SOC_SF19A28

config FIRMWARE_SIZE
	int "CORE 1 FIRMWARE SIZE (0-8192 KB)"
	range 0 8192
	default 1024
	help
	  This is the firmware size for core 1. If firmware size is
	  set to zero, core 1 will not be powered up.

config FIRMWARE_LOAD_BASE
	hex "CORE 1 FIRMWARE LOAD PHYSICAL BASE ADDRESS "
	range 0 0x10000000
	default 0x1f00000
	help
	  This is the firmware physical base addr for core 1.

config CORE1_MEM_RES
	bool "CORE 1 MEM RESERVE"
	default n
config SIFLOWER_TIMER_CLKSRC
	bool "Enable SiFlower Timer based clocksource"
	depends on SIFLOWER
	select CLKSRC_SFAX8_TIMER
	select MIPS_EXTERNAL_TIMER
	help
	  This option enables a clocksource driver based on a SiFlower external timer.

	  If you want to enable the CPUFreq, you need to enable
	  this option.

	  If you don't want to enable CPUFreq, you can leave this disabled.

config SF_KERNEL_LITE
	bool "Enable SiFlower lite kernel for 4MB flash"
	default n
	help
	  This config enables 4MB flash optimize for SiFlower kernel
	  configs and drivers. It will disable some module features,
	  and only recommended for p10b.

config SF_IRQ_DEBUG
	bool "Enable calculating irq handle total time for debug."
	default n
	depends on SF16A18_FULL_MASK
	help
	  This config enables calculating the total time used for irq
	  handler to check if it's too long.

endif #SIFLOWER
