menuconfig MTD_SPI_NAND
	tristate "SPI NAND device support"
	depends on MTD
	select MTD_NAND
	help
	  This is the framework for the SPI NAND.

if MTD_SPI_NAND

config MTD_SPI_NAND_DEVICES
	tristate "Support for SPI NAND devices"
	default y
	depends on MTD_SPI_NAND
	help
	  Select this option if you require support for SPI NAND devices.

endif # MTD_SPI_NAND
