CONFIG_MIPS=y
CONFIG_SYS_MALLOC_F_LEN=0x1000
CONFIG_DM_SPI=y
CONFIG_DM_SPI_FLASH=y
CONFIG_DM_GPIO=y
CONFIG_BLK=y
CONFIG_MACH_SFAX8=y
CONFIG_SOC_SFA18_MPW1=y
CONFIG_TARGET_SFA18_P10B=y
CONFIG_ETH_LED=y
CONFIG_SYS_MEM_SIZE=0x4000000
CONFIG_DEFAULT_DEVICE_TREE="sfa18_mpw1"
CONFIG_SYS_EXTRA_OPTIONS="SPI_BOOT"
CONFIG_HUSH_PARSER=y
CONFIG_SYS_PROMPT="sfa18 # "
# CONFIG_CMD_IMLS is not set
# CONFIG_CMD_LOADB is not set
# CONFIG_CMD_LOADS is not set
# CONFIG_CMD_FLASH is not set
CONFIG_CMD_MMC=y
CONFIG_CMD_SF=y
# CONFIG_CMD_FPGA is not set
# CONFIG_CMD_SETEXPR is not set
CONFIG_CMD_DHCP=y
# CONFIG_CMD_NFS is not set
CONFIG_CMD_PING=y
CONFIG_NET_RANDOM_ETHADDR=y
CONFIG_SPL_DM_SEQ_ALIAS=y
CONFIG_DMA=y
CONFIG_SFAX8_DMA=y
CONFIG_SFAX8_GPIO=y
CONFIG_DM_MMC=y
CONFIG_SFAX8_DW_MMC=y
CONFIG_SPI_FLASH_WINBOND=y
CONFIG_SPI_FLASH=y
CONFIG_NETDEVICES=y
CONFIG_SFA18_ETH=y
CONFIG_PINCTRL=y
CONFIG_SFAX8_PINCTRL=y
CONFIG_SFAX8_SERIAL=y
CONFIG_SFAX8_SPI=y
CONFIG_TIMER=y
CONFIG_SFAX8_TIMER=y
CONFIG_SFAX8_DDR2=y
