CONFIG_MIPS=y
CONFIG_SYS_MALLOC_F_LEN=0x1000
CONFIG_DM_SPI=y
CONFIG_DM_SPI_FLASH=y
CONFIG_DM_GPIO=y
CONFIG_MACH_SFAX8=y
CONFIG_SOC_SFA18_FULLMASK=y
CONFIG_TARGET_SFA18_P10B=y
CONFIG_SYS_MEM_SIZE=0x8000000
CONFIG_SFA18_UBOOT_LITE=y
CONFIG_DEFAULT_DEVICE_TREE="sfa18_fullmask"
CONFIG_SYS_PROMPT="sfa18 # "
# CONFIG_CMD_BDI is not set
# CONFIG_CMD_CONSOLE is not set
# CONFIG_CMD_BOOTD is not set
# CONFIG_CMD_ELF is not set
# CONFIG_CMD_GO is not set
# CONFIG_CMD_RUN is not set
# CONFIG_CMD_IMI is not set
# CONFIG_CMD_IMLS is not set
# CONFIG_CMD_XIMG is not set
# CONFIG_CMD_EXPORTENV is not set
# CONFIG_CMD_IMPORTENV is not set
# CONFIG_CMD_EDITENV is not set
# CONFIG_CMD_SAVEENV is not set
# CONFIG_CMD_ENV_EXISTS is not set
# CONFIG_CMD_MEMORY is not set
# CONFIG_CMD_CRC32 is not set
# CONFIG_CMD_DM is not set
# CONFIG_CMD_LOADB is not set
# CONFIG_CMD_LOADS is not set
# CONFIG_CMD_FLASH is not set
CONFIG_CMD_SF=y
# CONFIG_CMD_FPGA is not set
# CONFIG_CMD_ECHO is not set
# CONFIG_SPL_UPDATE is not set
# CONFIG_CMD_ITEST is not set
# CONFIG_CMD_SOURCE is not set
# CONFIG_CMD_SETEXPR is not set
# CONFIG_CMD_NFS is not set
# CONFIG_CMD_MISC is not set
CONFIG_NET_RANDOM_ETHADDR=y
# CONFIG_DM_WARN is not set
# CONFIG_DM_DEVICE_REMOVE is not set
CONFIG_SPL_DM_SEQ_ALIAS=y
CONFIG_SFAX8_GPIO=y
CONFIG_SPI_FLASH_WINBOND=y
CONFIG_SPI_FLASH=y
CONFIG_NETDEVICES=y
CONFIG_SFA18_ETH=y
CONFIG_PINCTRL=y
CONFIG_SFAX8_PINCTRL=y
CONFIG_SFAX8_SERIAL=y
CONFIG_SFAX8_SPI=y
CONFIG_TIMER=y
CONFIG_SFAX8_TIMER=y
CONFIG_SFAX8_DDR2=y
# CONFIG_REGEX is not set
